@import 'vars.less';
@import 'import.less';
@import 'custom-color.less';
@import 'custom-bootstrap.less';
@import 'custom-checkdown.less';
@import 'custom-sui.less';
@import 'custom-modal.less';
@import 'custom-todo.less';
@import 'custom-codemirror.less';
@import 'custom-files.less';
@import 'custom-helper.less';

body{
    color:@body1;
    background-color: @body2;

    &,
    a,
    div{
        font-size: @fontSize;
    }

}

html[data-sui-a=""],
html[data-sui-a="false"]{
    *,
    select,
    option,
    input,
    label,
    textarea,
    a,
    button,
    :focus,
    :active,
    .btn{
        outline:none !important;
        -moz-outline: none !important;
    }
}
#app-content{
    margin-top: 10px;
}

.subtitle{
    color: @cMute1;
}

.submenu{
    background-color: @cInverse2 !important;
}
.btn-box{
    line-height: 96px;
    font-weight: bolder;
    margin:15px 0px;
    width:100%;
    text-align: center;
    background-color: fade(@cDefault2,25%);

    &,
    &.disabled,
    &.active{
      color: @cDefault2;
    }
    input[type="checkbox"],
    input[type="radio"]
    {
        opacity: 0;
        position: absolute;
        margin:-2000px;
        height: 1px;
        width: 1px;
    }

    -webkit-transition: all 125ms linear;
    -moz-transition: all 125ms linear;
    -ms-transition: all 125ms linear;
    -o-transition: all 125ms linear;
    transition: all 125ms linear;

    &.onPress,
    &.onLoad{
        // opacity:0.9;
        -moz-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -o-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);

        -webkit-box-shadow:inset 0 0 50px 50px rgba(0,0,0,0.1);
        box-shadow:inset 0 0 50px 50px rgba(0,0,0,0.1);
    }
}
.fa-spin-2x {
    -webkit-animation: fa-spin 1s infinite linear;
    animation: fa-spin 1s infinite linear;
}

.btn-combo{
    &.on-load{
        i{
            display: none;
        }
        .tictac-status{
            i{
                display:inline-block !important;
            }
        }
    }
}

.text-right{
    text-align: right;
}

.pull-right{
    float: right !important;
}
.form-control-label{
    .text-right !important;
}

.btn-group-vertical{
    label{
        margin-bottom: 0px;
    }
}

.warning{
    &,
    *{
        background: @cWarning1 !important;
        border-color: @cWarning1 !important;
        color: @cWarning2 !important;
    }
}


.success{
    &,
    *{
        background: @cSuccess1 !important;
        border-color: @cSuccess1 !important;
        color: @cSuccess2 !important;
    }
}

fieldset{
    // padding-top: 15px;
    h2,
    legend{
        font-weight: 400;
        margin-bottom: 0.2rem;
        color:@cInverse2;
    }
    + fieldset{
        margin-top: 1rem;
    }
}


 .colorpicker-2x .colorpicker-saturation {
        width: 200px;
        height: 200px;
    }
    .colorpicker-2x .colorpicker-hue,
    .colorpicker-2x .colorpicker-alpha {
        width: 30px;
        height: 200px;
    }
    .colorpicker-2x .colorpicker-color,
    .colorpicker-2x .colorpicker-color div{
        height: 30px;
    }

    .colorpicker-element {
        .input-group-addon {
            padding: 0rem;
            i,
            .add-on i{
                height: 36px;
                width:42px;
            }
        }
    }
canvas{
    background-color: fade(#000,5%);
}

a{
    &,
    *,{
        color: @cPrimary2;
        &:hover{
            color: lighten(@cPrimary2,5%);
        }
    }
}
a.btn-primary{
    color : @cPrimary1;
}

.context-sidebar{
    background-color: @cSuccess1 !important;
    color: @cSuccess2 !important;
}

.navbar-bottom{
    padding:0px;
    .no-radius;
    background-color: transparent !important;
    .btn {
        background-color: darken(@cSuccess1,5%) !important;
        &.active{
            background-color: @cSuccess1 !important;
        }
    }
    i{
        font-size: larger;
    }
}
.navbar-header{
    padding: 0.275rem !important;
    .no-radius;
    &,
    .btn,
    .form-control{
        background-color: darken(@cInverse2,5%) !important;
    }


    padding:0.5rem;
    + #wrapper {
         margin-top: 5rem;
    }
    *{
        border-color: transparent !important;
    }
}

iframe{
    &#console{
        width:100%;
        height: 431px;
        border:0px !important;
        margin: 0px;
        padding: 0px;
        margin-bottom: -7px;
    }
}

.c-menu{
    .no-radius;
    background-color: darken(@cInverse2,5%) !important;
    &,
    a{
        color: @cSuccess2 !important;
    }
}

footer{position:fixed;
    right:0px;
    bottom:0px;

    .z-max();
    .btn-group-vertical{
        border-radius: 3px;
    }
}

.bread{
    a {
        padding: 0rem  0.25rem !important;
    }
}

#suggest{
    .fixed;
    .z-max(100);

    width: 64.5%  !important;
    max-height: 50vh;

    overflow-y: auto;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    .list-group{
        .list-group-item{
            h4{
              font-size: 1rem;
            }

            p{
                font-size: 0.8rem;
                margin-bottom: 0px;
            }
        }
    }
}

@cContext: darken(@cSuccess1, 8%);

// Context Menu
.contextmenu-active{
    background-color: lighten(@cContext,10%) !important;
}
.contextmenu{
    &,
    *{
        font-size: 0.8rem !important;
    }
    &:before{
        position:absolute;
        content:"";
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0 12px 12px 12px;
        border-color: transparent transparent @cContext;

        margin-top: -12px;
        margin-left: 14px;


    }

    i{
        margin-right: 0.2rem;
        opacity:0.2;
    }
    background-color: @cContext !important;
    padding:0.375rem;
    padding-bottom: 0px;
    margin:5px;
    width:calc(~"100% - 10px")!important;
    .btn,
    .input-group .form-control
    {
        margin-bottom: 0.375rem;
        background-color: lighten(@cContext,3%) !important;
        color: @cSuccess2 !important;
        border-color: transparent !important;

    }
    a{
        color:@clink2 !important;
    }
    .input-group{
        display:block;
    }
    .btn{
        padding:0.475rem 0.84rem;
    }

    .list-group{
        margin-bottom: 0.375rem;
        .list-group-item {
            background-color: transparent !important;
            color: @cSuccess2 !important;
            border-color: transparent !important;
            &:hover{
                background-color: lighten(@cSuccess1,10%) !important;
            }
        }
    }
}
// Context Menu



.sui-sidebar{
    h2{
        font-size: 0.8rem;
        color: @cPrimary1;
        padding: 0.175rem 0.675rem;
        margin-bottom: 0px;
    }
}
.text-muted,
.btn-muted{
    .muted;
}

.cm-protect{
    &:after{
        .fa;
        content: '\f111';
        color: @cWarning2 !important;
        position:absolute;
        .z-max();
        font-size: 0.7rem;
        right: 0.8rem;
        top: 0.7rem;
        z-index: 2001;
    }
    &:hover{
        &:after{
            display:none !important;
        }
    }
}

.btn-f-edit,
.btn-trigger{
    &.cm-protect{
        &:after{
            top: inherit;
        }
    }
}


// li:hover{
//     .unstar{
//         display:inline-block !important;
//     }
// }
// .unstar{
//     display:none !important;
// }


[data-star="0"] .fav-title{
    display:none !important;
}
[data-open="0"] .open-title{
    display:none !important;
}
.btn{
    .animate();
}
div.onLoad{
    padding-left: 2.5rem;
    i{
        .absolute;
        margin-left: -1.5rem;
    }
}
.markdown{
    a{
        text-decoration: underline !important;
    }
}


.alert{
    &.active,
    &:hover,
    &,
    i{
        color: @cSpecial !important;
    }
}
.error{
    &.active,
    &:hover,
    &,
    i{
        color: @cSpecial !important;
    }
}
.success{
    &.active,
    &:hover,
    &,
    i{
        color: @cSpecial !important;
    }
}
.tab-content {
    .nav-tabs{
        margin-top: 0px;
    }
}

.select2-container{
    .z-max(12) !important;
}

.btn-sui-collapse{
    + div{
        margin-bottom: 2rem;
    }
}



.sortable{
    // padding:0.5rem 0.2rem;
    &:hover{
        &:not(tbody){
            background-color: rgba(0,0,0,0.05);
        }

    }
    .sortable{
        margin-left: 2rem;
    }
    .sortable-placeholder{
        padding:0.5rem 0.2rem;
        height:3rem;
        background-color: rgba(0,0,0,0.05);
    }
}


.color-preview{
    padding: 0px !important;
    margin: 0px !important;
    list-style: none;
    li{
        display:inline-block; width: 62.5px; height: 64px;
    }
}

.btn{
    input{
        opacity: 0;
        width:1px;
        height:1px;
        &:before{
            content:"\f14a";
            .fa;
        }
    }
}

.sui-editor-grid{
    border-left:1px solid #000;
}


.note-editable{
    color: @clink2 !important;
    padding:3rem;

}
.note-editor.note-frame{
    border-width: 0px;
    &,
    .note-editing-area,
    .note-editable{
        height: 100% !important;
    }

    .note-toolbar,
    .btn-default {
        border-color: @cInverse2 !important;
        background-color: @cInverse2 !important;
        color: @cInverse1 !important;
    }
}
.canvas-container{
    height:100% !important;
    width:100%;
    overflow: hidden !important;
}

.h-100{
    height: 100% !important;
}

li.active{
    i,
    a{
        color:#fff !important;
    }
}

.draw-page{

    *,
    select,
    option,
    input,
    label,
    textarea,
    a,
    button,
    :focus,
    :active,
    .btn{
        outline:none !important;
    }

    .bg-inverse{
        background-color: #171817 !important;
    }
    .c-menu{
        &,
        .btn,
        .form-control{
            background-color: transparent !important;
        }
        .btn{
            margin-bottom: 0px;
            &:hover,
            &.active
            {
                &,
                *{
                    color:#fff !important;
                }

            }
        }
    }

    *{
        font-size: 0.9rem !important;
    }

    .colorpicker.dropdown-menu{
        left:0px !important;

        &.colorpicker-right::before,
        &.colorpicker-right::after{
          left:5px;
          right:auto !important;
        }
    }
}



.colorpicker-2x .colorpicker-saturation { width: 200px; height: 200px; }
.colorpicker-2x .colorpicker-hue, .colorpicker-2x .colorpicker-alpha { width: 30px; height: 200px; }
.colorpicker-2x .colorpicker-color, .colorpicker-2x .colorpicker-color div { height: 30px; }

tbody{
    .sortable-placeholder{
        height:32px !important;
    }
}

#layers{
    .Group{

    }
    .rename{
        width:150px !important;
        display:block !important;
    }
    input{
        font-size: 0.7rem;
        border-width: 0px;
    }
}

.remove,
.selector,
.visible{
    .opacity(0.2);
    &.active{
        .opacity(1);
    }
}
.active{
    .selector{
        .opacity(1);
    }
}

.input-colors{
    .input-group-addon,
    .form-control{
        border-width: 0px !important;
    }
    .form-control{
        background-color: rgba(255,255,255,0.5) !important;
    }
    i{
        width:40px !important;;
    }
}

.tooltip{


    position:absolute !important;
    margin-top: -131px !important;
    .tooltip-inner{
        font-size: 0.7rem;
        padding: 0.1rem 0.5rem !important;
    }
}

.slider.slider-horizontal .slider-track {
    height: 6px;
    left: 0;
    margin-top: -15px;
    top: 50%;
    width: 100%;
    .slider-handle{
        margin-top: -8px;
        background-image: none !important;
    }
    .slider-selection{
        box-shadow: none !important;
    }
}
.bg-grey{
    background-color: #D5D5D5 !important;
}
#toolMenu{
    .tooltip{
        display:none !important;
    }
    min-height: 32px;
    input{
        border-width: 0px !important;
        border-radius: 4px !important;
        padding: 0.075rem 0.35rem
    }
    .input-group-addon{
        background-color: transparent !important;
        border-width: 0px !important;padding: 0.075rem 0.35rem
    }
    .slider.slider-horizontal .slider-track{
        margin-top: 1px !important;
    }
}
