.c-play :nth-child(1n + 1),
.c-1,
.c-color-3,
.c-1-hover:hover,
.c-color-3-hover:hover,
.sc-1 *,
.sc-color-3 * {
  color: #D8D8D8 !important;
}
.bg-play :nth-child(1n + 1),
.bg-1,
.bg-color-3,
.bg-1-hover:hover,
.bg-color-3-hover:hover,
.sbg-1 *,
.sbg-color-3 * {
  background-color: #D8D8D8 !important;
}
.border-1,
.border-color-3,
.sborder-1 *,
.sborder-color-3 * {
  border-color: #D8D8D8 !important;
}
.c-play :nth-child(2n + 2),
.c-2,
.c-color-0,
.c-2-hover:hover,
.c-color-0-hover:hover,
.sc-2 *,
.sc-color-0 * {
  color: #EDEDED !important;
}
.bg-play :nth-child(2n + 2),
.bg-2,
.bg-color-0,
.bg-2-hover:hover,
.bg-color-0-hover:hover,
.sbg-2 *,
.sbg-color-0 * {
  background-color: #EDEDED !important;
}
.border-2,
.border-color-0,
.sborder-2 *,
.sborder-color-0 * {
  border-color: #EDEDED !important;
}
.c-play :nth-child(3n + 3),
.c-3,
.c-color-1,
.c-3-hover:hover,
.c-color-1-hover:hover,
.sc-3 *,
.sc-color-1 * {
  color: #F16000 !important;
}
.bg-play :nth-child(3n + 3),
.bg-3,
.bg-color-1,
.bg-3-hover:hover,
.bg-color-1-hover:hover,
.sbg-3 *,
.sbg-color-1 * {
  background-color: #F16000 !important;
}
.border-3,
.border-color-1,
.sborder-3 *,
.sborder-color-1 * {
  border-color: #F16000 !important;
}
.c-play :nth-child(4n + 4),
.c-4,
.c-color-2,
.c-4-hover:hover,
.c-color-2-hover:hover,
.sc-4 *,
.sc-color-2 * {
  color: #2F3E47 !important;
}
.bg-play :nth-child(4n + 4),
.bg-4,
.bg-color-2,
.bg-4-hover:hover,
.bg-color-2-hover:hover,
.sbg-4 *,
.sbg-color-2 * {
  background-color: #2F3E47 !important;
}
.border-4,
.border-color-2,
.sborder-4 *,
.sborder-color-2 * {
  border-color: #2F3E47 !important;
}
.c-play :nth-child(5n + 5),
.c-5,
.c-color-4,
.c-5-hover:hover,
.c-color-4-hover:hover,
.sc-5 *,
.sc-color-4 * {
  color: #9AA7AD !important;
}
.bg-play :nth-child(5n + 5),
.bg-5,
.bg-color-4,
.bg-5-hover:hover,
.bg-color-4-hover:hover,
.sbg-5 *,
.sbg-color-4 * {
  background-color: #9AA7AD !important;
}
.border-5,
.border-color-4,
.sborder-5 *,
.sborder-color-4 * {
  border-color: #9AA7AD !important;
}
body {
  background-color: #D8D8D8;
}
body * {
  color: #2F3E47;
}
html[data-context-a=""] *,
html[data-context-a="false"] *,
html[data-context-a=""] select,
html[data-context-a="false"] select,
html[data-context-a=""] option,
html[data-context-a="false"] option,
html[data-context-a=""] input,
html[data-context-a="false"] input,
html[data-context-a=""] label,
html[data-context-a="false"] label,
html[data-context-a=""] textarea,
html[data-context-a="false"] textarea,
html[data-context-a=""] a,
html[data-context-a="false"] a,
html[data-context-a=""] button,
html[data-context-a="false"] button,
html[data-context-a=""] :focus,
html[data-context-a="false"] :focus,
html[data-context-a=""] :active,
html[data-context-a="false"] :active,
html[data-context-a=""] .btn,
html[data-context-a="false"] .btn {
  outline: none !important;
}
#app-content {
  margin-top: 10px;
}
.subtitle {
  color: #D8D8D8;
}
.btn-box {
  line-height: 96px;
  font-weight: bolder;
  margin: 15px 0px;
  width: 100%;
  text-align: center;
  background-color: rgba(154, 167, 173, 0.25);
  color: #2F3E47;
  -webkit-transition: all 125ms linear;
  -moz-transition: all 125ms linear;
  -ms-transition: all 125ms linear;
  -o-transition: all 125ms linear;
  transition: all 125ms linear;
}
.btn-box input[type="checkbox"],
.btn-box input[type="radio"] {
  opacity: 0;
  position: absolute;
  margin: -2000px;
  height: 1px;
  width: 1px;
}
.btn-box.mDown,
.btn-box.onLoad {
  -moz-transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -o-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 50px 50px rgba(0, 0, 0, 0.1);
}
.fa-spin-2x {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}
.text-right {
  text-align: right;
}
.pull-right {
  float: right !important;
}
.warning,
.warning * {
  background: #F16000 !important;
  border-color: #F16000 !important;
  color: #D8D8D8 !important;
}
.success,
.success * {
  background: #2F3E47 !important;
  border-color: #2F3E47 !important;
  color: #D8D8D8 !important;
}
fieldset {
  padding-top: 15px;
}
.navbar,
.navbar i,
.navbar .btn,
.navbar .form-control {
  color: #9AA7AD;
  background-color: #2F3E47;
  border-color: rgba(154, 167, 173, 0.25);
}
.nav-tabs {
  margin-top: 15px;
}
.nav-tabs .nav-link.active,
.tab-content {
  background-color: rgba(154, 167, 173, 0.25) !important;
  border-color: rgba(154, 167, 173, 0.25) !important;
  color: #2F3E47 !important;
}
.nav-tabs .nav-link:hover {
  background-color: rgba(154, 167, 173, 0.15) !important;
  border-color: rgba(154, 167, 173, 0.15) !important;
}
.tab-content {
  padding: 15px;
}
