@cCm1 : lighten(@cSuccess1, 3%);
@cCm2 : lighten(@cSuccess1, 7%);
@cCm3 : @cSuccess1;
@cCm4 : @cSuccess2;

.cm,
.CodeMirror{
    .no-border;
    height: 100% !important;
    width: 100%;
    &,
    &.cm-s-tomorrow-night-bright {
            background-color: @cCm1 !important;
        .CodeMirror-selected{
            background-color:@cCm2 !important;
        }
        .CodeMirror-gutters{
            border-color: transparent;
            background-color: @cCm3 !important;
            width: 40px;
            .CodeMirror-gutter{
                width: 35px;
            }
        }
        .CodeMirror-gutter-wrapper{
            .CodeMirror-linenumber{
                color: @cCm4;
                .text-muted;
            }
        }
        .cm-meta{
            background-color: @cCm3;
        }
        .CodeMirror-line {
            padding-left: 15px;
        }
    }
}

.sui-editor{
    #filesPanes.tab-content{
        background-color: @cCm1;
    }
    .tab-pane{
        &,
        textarea{
            height:100%;
            background-color: @cCm2;
        }

    }
    .submenu{
        a{
            &,
            &.btn-sh{
                color: @cCm4 !important;
            }

        }
    }
}