@cCm1 : lighten(@cInverse2, 3%); // background cm
@cCm2 : lighten(@cInverse2, 7%); // selected cm
@cCm3 : @cInverse2; // color meta / background gunter
@cCm4 : @clink2; // color link bread

.cm,
.CodeMirror{
    .no-border;
    height: 100% !important;
    width: 100%;
    background-color: @cInverse2 !important;
    .CodeMirror-activeline-background,
    .CodeMirror-activeline-gutter{
        background-color: darken(@cCm1,5%) !important;
    }

    .CodeMirror-selected{
        background-color:@cCm2 !important;
    }
    .CodeMirror-gutters{
        border-color: transparent;
        background-color: @cCm3 !important;
        width: 40px;
        .CodeMirror-gutter{
            width: 35px;
        }
    }
    .CodeMirror-gutter-wrapper{
        .CodeMirror-linenumber{
            color: @cCm4;
            .text-muted;
        }
    }
    .cm-meta{
        background-color: @cCm3;
    }
    .CodeMirror-line {
        padding-left: 15px;
    }
    .cm-error{
        background-color: @cWarning1;
        color: @cWarning2;
    }

}

.CodeMirror-dialog{

    &.CodeMirror-dialog-top{
        .no-border;
    }
    background-color: @cCm1 !important;

}

.CodeMirror-hints{
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    background-color: darken(@cCm1,5%) !important;
    .no-shadow();
    border:0px;
    width: 350px;
    .CodeMirror-hint{
        background-color:   darken(@cCm1,5%) !important;
        color:  @clink2 !important;
        padding: 0.5rem 1rem ;
        max-width: 100% !important;
        &.CodeMirror-hint-active{
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            background-color:  extract(@colors, 4) !important;
        }
    }
}

.sui-editor{
    #filesPanes.tab-content{
        background-color: @cCm1;
    }
    .tab-pane{
        &,
        textarea{
            height:100%;
            background-color: @cCm2;
        }

    }
    .submenu{
        a{
            &,
            &.btn-sh{
                color: @cCm4 !important;
            }

        }
    }
}