@wPreview : 24px;
@frameThumb: 64px;
@bgInverse: #242424;
@bgLight: #ededed;


.draw-page{






    *,
    select,
    option,
    input,
    label,
    textarea,
    a,
    button,
    :focus,
    :active,
    .btn{
        outline:none !important;
    }

    .bg-inverse{
        background-color: #171817 !important;
    }
    .c-menu{
        &,
        .btn,
        .form-control{
            background-color: transparent !important;
        }
        .btn{
            margin-bottom: 0px;
            &:hover,
            &.active
            {
                &,
                *{
                    color:#fff !important;
                }

            }
        }
    }

    *{
        font-size: 0.8rem !important;
    }

    // .colorpicker.dropdown-menu{
    //     left:0px !important;

    //     &.colorpicker-right::before,
    //     &.colorpicker-right::after{
    //       left:5px;
    //       right:auto !important;
    //     }
    // }
    footer{
        width: 100%;
        .row{
            padding-top: 1.5rem;
            .slider{
                .inline-block;
            }
        }
    }
}



tbody{
    .sortable-placeholder{
        height:32px !important;
    }
}

#layers{
    table{
        margin-bottom: 0px !important;
        &,
        tr,
        thead,
        tbody{
            width:100% !important;
        }
        &.table{
            &
            *{
                border-width: 0px;
            }
        }
    }

    tr{
        th.thShow{
            padding-left: 0.5rem !important;
        }
        th.thRemove{
            padding-right: 0.5rem !important;
        }
    }

    th{
        &,
        *{
          line-height: @wPreview !important;
          vertical-align: middle;
        }
        padding: 0.2rem ;
        width: 32px !important;
        display: inline-block !important;
        text-align: center;

        &.thName{
            text-align: left !important;
            width: 100px !important;
        }
        &.thCheck{
            width: @wPreview !important;

            .layer-preview{
                border: 1px solid rgba(0,0,0,0.1) !important;
                display: inline-block !important;
                width: @wPreview !important;
                height: @wPreview !important;
            }
             a.active{
                .layer-preview{
                    -webkit-box-shadow: 0 0 0 3px #BA0404;
box-shadow: 0 0 0 3px #BA0404;
                }
            }
        }

    }

    .table .table{
        .thCheck{
            padding-left: 16px;
            width: 46px !important;
        }
    }

    .Group{

    }
    .rename{
        width:100px !important;
        display:block !important;
    }
    input{
        font-size: 0.7rem;
        border-width: 0px;
    }

    .list-group-item{
        padding:0rem !important;

        .table{
            th{
                border-top: 0px !important;
            }
        }
    }
}

.remove,
.selector,
.visible{
    .opacity(0.2);
    &.active{
        .opacity(1);
    }
}
.active{
    .selector{
        .opacity(1);
    }
}
.colorpicker-right{
    left: 0px !important;
}
.input-colors,
.input-colors-right{
    .input-group-addon,
    .form-control{
        border-width: 0px !important;
    }
    .form-control{
        background-color: rgba(255,255,255,0.5) !important;
    }
    i{
        width:39px !important;;
    }
}

.tooltip{
    position:absolute !important;
    margin-top: -131px !important;
    .tooltip-inner{
        font-size: 0.7rem;
        padding: 0.1rem 0.5rem !important;
    }
}

.slider.slider-horizontal .slider-track {
    height: 6px;
    left: 0;
    margin-top: -15px;
    top: 50%;
    width: 100%;
    .slider-handle{
        height: 13px;
        width: 13px;
        margin-top: -4px;
        background-image: none !important;
    }
    .slider-selection{
        box-shadow: none !important;
    }
}
.bg-grey{
    background-color: #D5D5D5 !important;
}
#pathMenu,
#toolMenu{
    i{
        height: 19px !important;
    }
    label.sm{
        margin:0rem !important;
        padding:0rem !important;
        font-size: 0.6rem !important;
        opacity: 0.4;
    }
    .tooltip{
        display:none !important;
    }
    min-height: 32px;
    input{
        border-width: 0px !important;
        border-radius: 4px !important;
        padding: 0.075rem 0.35rem
    }
    .input-group-addon{
        background-color: transparent !important;
        border-width: 0px !important;padding: 0.075rem 0.35rem
    }
    .slider.slider-horizontal .slider-track{
        margin-top: -3px !important;
    }
    .input-group{
        padding:0.3rem !important;
    }
    .value{
        width: 32px;
    }
    .form-control{
        padding-right: 0.5rem !important;
        &.xs{
            width: 32px;
            &[type=number]{
                width:42px !important;
                text-align: right !important;
            }
        }
    }
}

.btn-group-vertical{
    .btn{
        border-radius: 0px !important;
    }
}
.table-sm td, .table-sm th {
    padding: 0.1rem;
}

.card{
    .card-block{
        padding:0.25rem 0.7rem !important;
    }
}
td{
    table{
        .thPreview{
            padding-left: 16px !important;
        }
    }
}
div.meta{

    padding:0.25rem;
    .form-control{padding:0.25rem;
        + .form-control{
            // margin-top: 0.25rem;
        }

    }
}

label.sm{
    margin-bottom: 0.5rem;
    margin-top: 0.7rem !important;
    font-size: 0.7rem;
}


#quickbar{
    .card{
        &,
        .card-header{
            border-radius:0px;
            border-width: 0px;
            background-color: lighten(#d5d5d5,6%) !important;
        }
    }
    .list-group-item{
        border-width: 0px;
        background-color: transparent !important;
    }
}
#panelbar{
    width:38px !important;
    position: fixed;
    right: calc(~"25% - 30px");
    label{

    }

    .open > .dropdown-menu {
        margin-top: -32px;
        display: block;
        left: -185px;
        position: absolute;
        border-width: 0px !important;
        label.sm {
            font-size: 0.7rem;
            margin-bottom: 0.1rem;
            margin-top: 0.3rem !important;
        }
    }
    .btn-group-vertical{
        margin-bottom: 0.5rem !important;
    }
}

.input-colors {
    .input-group-addon{
        width:39px !important;
    }
    .form-control{
       display:none;
    }
    &:hover,
    &.open,
    {
     .form-control{
       display:block;
    }
    }
}

#pivot{
    position: fixed !important;
    margin-top: -12px;
    margin-left: -12px;
    font-size: 24px !important;
    opacity: 0.5;
    .z-max();
}
canvas.draw-paper{
    background-color: fade(#000,5%);
}

.table{
    tbody{
        .table{
            width: calc(~"100% - 16px") !important;
            background-color: transparent !important;
        }
    }
}

.thRemove{
    float: right;
}
.btn-toggle.open{
    i{
        .rotate-90;
    }

}
footer,
.c-menu{
    .form-inverse{
        &.form-control{
            background-color: rgba(255,255,255,0.1) !important;
            border-width: 0px !important;
            padding:0.2rem 0.5rem  !important;
            display:inline;
            width:150px;
            &.xs{
                width: 48px;
            }
        }
    }
}

.list-inline{
    display:inline-block;
    .sortable-placeholder,
    li{

        float:left;
        margin: 0.3rem !important;
        a{
            border: 3px solid transparent;
            &.active{
                border: 3px solid #fff !important;
            }
            .inline-block;
            height: @frameThumb !important;
            width: @frameThumb;
            background-color: rgba(255,255,255,0.1) !important;
            line-height: @frameThumb !important;
            .frame-thumb{
                width: @frameThumb;
                height: @frameThumb;


            }
        }
    }
    list-style: none !important;
    margin:0px;
    padding:0px;
}

#toolMenu{
  background-color: #cbcbcb !important;

}

#strokeWidthPreview{
    position :absolute;
    display:inline-block !important;
    margin:1rem !important;
    border-radius: 50%;
    border: 1px solid fade(#000, 10%);
    background-color: fade(#000, 7%);
    &.mousedrag{
        .z-max(100);
        .fixed;
    }
}
