{% extends 'RBCoreBundle::index.html.twig' %}

{% block title %}Page{% endblock title %}

{% block subTitle %}subtitle{% endblock subTitle %}

{% block breadcrumb %}<li><a href="{{path(''}}">Page</a></li>{% endblock breadcrumb %}

{% block body %}

{% endblock body %}